<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>RiftSawLab</display-name>
  
  <servlet>
    <servlet-name>OrderWS</servlet-name>
    <servlet-class>org.jboss.vut.ws.order.OrderWS</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet>
    <servlet-name>EchoWS</servlet-name>
    <servlet-class>org.jboss.vut.ws.echo.EchoWS</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>OrderWS</servlet-name>
    <url-pattern>/OrderWS</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>EchoWS</servlet-name>
    <url-pattern>/EchoWS</url-pattern>
  </servlet-mapping>
  
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>